@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">👋 Hej och välkommen!</h1>
    <p>@ViewData["Message"]</p>
    <a class="btn btn-primary" asp-controller="Message" asp-action="Index">Gå till Gästboken 💬</a>
</div>
